{
  "extends": "airbnb",
  "rules": {
    "no-use-before-define": 0,
    "no-console": 0,
    "new-cap": 0,
    "max-len": 0,
    "comma-dangle": 0,
    "no-underscore-dangle": 0,
    "no-constant-condition": 0,
    "react/prefer-es6-class": 0,
    "react/prefer-stateless-function": 0,
    "jsx-a11y/img-has-alt": 0,
    "jsx-a11y/redundant-alt": 0,
    "jsx-a11y/valid-aria-role": 0
  },
  "plugins": ["react"],
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "mocha": true
  },
  "globals": {
    "expect": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
